download {
	enabled=true
	twitterUser="<add user>"
	numberOfTweets=10
	pageNumber=1
	directory="images/downloaded"
}

crop {
	enabled=true
	directory="images/cropped"
}

dropbox {
	enabled=true
	uploaderScript="dropbox/dropbox_uploader.sh"
	mainDirectory="raw"
	croppedDirectory="cropped"
}

delete {
	enabled=true
}

auditFile="audit/run.log"